* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.first-part {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #9babe4;
}

.refer-a-friend,
.find-a-store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dollar-icon,
.location-icon,
.cart-icon {
  width: 30px;
}

.second-part {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px 9px;
  font-size: 1.2em;
  color: #1e306e;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-top: 10px;
}

.nav-link {
  text-decoration: none;
}

.nav-link-sale {
  text-decoration: none;
  color: red;
}

.cart-icon {
  margin-top: 5px;
}

.jumbotron {
  background-color: rgb(253, 218, 102);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 70px;
}

.jumbotron-container a {
  text-decoration: none;
}
.jumbotron-container a:hover {
  text-decoration: underline;
  color: black;
}

@media (max-width: 1200px) {
  .info-img,
  .mattress-img {
    width: 400px;
  }
}

.main-link {
  text-align: center;
  background-color: rgb(253, 218, 102);
  color: black;
  padding-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.experience-container {
  background-image: url("images/homebackground.png");
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-size: cover;
  background-repeat: repeat;
}

.experience-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.overflow {
  overflow: hidden;
  border-radius: 5px;
}

.experience1:hover {
  transition: 0.5s;
  transform: scale(1.2);
  transform-origin: 50% 50%;
}
.experience2:hover {
  transition: 0.5s;
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.experience3:hover {
  transition: 0.5s;
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.experience {
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

span {
  position: absolute;
  top: 80%;
  left: 30%;
  display: flex;
  color: white;
  font-weight: bolder;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  width: 400px;
}

.info1 {
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  background-color: #49bbb9;
}

.sub-info1 p {
  text-align: center;
  margin-bottom: 30px;
}

.mattress-card {
  background-color: #f0fcfc;
  border-radius: 5px;
}

.mattress-card:hover {
  transition: all 0.4s;
  transform: scale(1.05);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bed {
  width: 350px;
}

@media (max-width: 1200px) {
  .card-bed {
    max-width: 300px;
  }
}

.mattress-top-section {
  display: flex;
  margin: 10px 0px 20px 10px;
  gap: 20px;
}

.star {
  width: 15px;
}

.mattress-content {
  margin-left: 10px;
  line-height: 1.7;
}

.mattress-content h2 {
  margin-bottom: 10px;
}

.row-mattress {
  display: flex;
  gap: 15px;
}

.amount {
  font-weight: bold;
  color: green;
}

.prev-amount {
  text-decoration: line-through;
}

.product-info {
  font-size: 14px;
}

.product-title {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.product-body {
  letter-spacing: 0.5px;
}

.rating-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 20px 30px;
  padding: 10px 30px;
  background-color: #20346c;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.mattress-link {
  text-decoration: none;
}

.mattress-link:visited {
  color: inherit;
}

.shop-btn {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.shop-all,
.explore {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #20346c;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 300px;
  margin-bottom: 50px;
  background-color: #f0ecf4;
  height: 500px;
}

.video-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-info {
  width: 400px;
  line-height: 1.5;
}

.video-info h3 {
  margin-bottom: 20px;
  color: #20346c;
  font-size: 24px;
}

.video-info p {
  margin-bottom: 20px;
  color: gray;
}

.header-review {
  text-align: center;
  margin-bottom: 40px;
}
.header-review h2 {
  margin-bottom: 20px;
  color: #20346c;
  font-size: 34px;
  font-weight: 600;
}

.header-review p {
  color: gray;
}

.review-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.star-img {
  width: 20px;
  margin-bottom: 20px;
}

.review-content {
  color: #20346c;
  width: 700px;
  line-height: 1.7;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.review-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 50px;
}

.experience-img-review {
  width: 300px;
}
